@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans; /* Tailwind utility for applying the font */
  font-style: normal;
  font-weight: 300;
}
.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-bottom: 5px;
}

.dot {
  height: 12px;
  width: 12px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #275fad;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}
